<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xpn.spellnote">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.activeandroid.app.Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.NoActionBar">

        <meta-data android:name="AA_DB_NAME" android:value="documents.db" />
        <meta-data android:name="AA_DB_VERSION" android:value="1" />
        <meta-data android:name="AA_MODELS" android:value="com.xpn.spellnote.databasemodels.DocumentSchema" />


        <activity
            android:name=".activities.ActivityViewDocuments"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.ActivitySelectLanguages"
            android:label="@string/title_activity_select_languages"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activities.ActivityAbout"
            android:label="@string/title_activity_about"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".activities.ActivityEditDocument"
            android:label="@string/title_activity_edit_document"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <service android:name="com.xpn.spellnote.databasehelpers.DownloaderService" />
    </application>
</manifest>
